# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# OS files
.DS_Store

# Logs / outputs
*.log
output.csv
resources/output.csv

# Data files (optional)
*.csv

# Secrets
.env
